{% extends "base.html" %}

{% block title %}Strona Główna - Moja Aplikacja{% endblock %}

{% block content %}
  <br>
 <div class="container text-center">
     <h1 style="color: #007bff; font-size: 40px;">STRONA GŁÓWNA</h1>
     <br>
    <a href="{% url 'nauka' %}" style="background-color: #28a745; color: white; border: none; border-radius: 5px; padding: 10px 15px; margin-right: 10px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2); text-decoration: none; display: inline-block;">Nauka</a>
    <a href="{% url 'powtarzanie' %}" style="background-color: #007bff; color: white; border: none; border-radius: 5px; padding: 10px 15px; margin-right: 10px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2); text-decoration: none; display: inline-block;">Powtarzanie</a>
     <br>
     <br>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="background-color: #dc3545; color: white; border: none; border-radius: 5px; padding: 10px 15px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2);">Wyloguj się</button>
    </form>
 </div>
{% endblock %}
