{% extends "base.html" %}

{% block title %}Strona Główna - Moja Aplikacja{% endblock %}

{% block content %}
 <div class="container text-center">
  <h1 style="color: #007bff; font-size: 40px;">STRONA LOGOWANIA</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background-color: #28a745; color: white; border: none; border-radius: 5px; padding: 10px 15px; box-shadow: 2px 2px 5px rgba(0,0,0,0.2);">Zaloguj się</button>
      <a href="{% url 'start' %}" class="button" style="background-color: #ffc107; color: white; border: none; border-radius: 5px; padding: 10px 15px; text-decoration: none; box-shadow: 2px 2px 5px rgba(0,0,0,0.2); display: inline-block;">Strona startowa</a>
  </form>
</div>
{% endblock %}
