<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Nauka Słówek</title>
    <!-- Możesz dodać tutaj linki do CSS lub JavaScript jeśli potrzebujesz -->
</head>
<body>
   <h2>Nauka nowych słówek</h2>
    <ul>
        {% for slowko in slowka_do_nauki %}
            <li>{{ slowko.polskie }} - {{ slowko.angielskie }}</li>
        {% endfor %}
    </ul>
 <a href="{% url 'home' %}" class="button">Strona Główna</a>
 <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Wyloguj się</button>
    </form>
</body>
</html>